body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  input, button {
    margin: 10px 0;
    padding: 8px;
    font-size: 16px;
  }
  
  button {
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  input {
    width: 500px;
    height: 30px;
    /* Otros estilos que desees agregar */
}